<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.k_medica">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KMedica"
        android:usesCleartextTraffic="true">
        <activity android:name=".fichasPaciente"></activity>
        <activity
            android:name=".FichaMedica"
            android:label="@string/title_activity_ficha_medica"
            android:theme="@style/Theme.KMedica.NoActionBar" />
        <activity android:name=".InicioMedico" />
        <activity android:name=".RegistroMedico" />
        <activity android:name=".IngresoMedico" />
        <activity android:name=".LoginMedico" />
        <activity android:name=".RegistroMedicoActivity" />
        <activity android:name=".RegistrationPacienteActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>